.containerCard{
    height: 100%;
    padding: 1rem;
}
.containerCardContent{
    height: 100%;
    text-align: center;
}

.stylesCard{
    div{
        margin-bottom: 0.5rem;
    }
    color: white;
}