body{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.GlobalLink{
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
      color: black;
  }
}
.GlobalLink:hover{
  border-radius: 15px;
  background-color: grey;
  color: white ;
  a{
      color: white;
  }
}

.GlobalLinkTitle{
  width: 100%;
  height: 3rem;
  a{
      color: black;
  }
}

@font-face {
  font-family: Inspiration;
  src: url('../Utilities/FontsFamily/Inspiration/Inspiration-Regular.ttf');
}

i{
  cursor: pointer;
}