.container{
    color: black;
    border: solid 1px black;
    height: 580pt;
    width: 300pt;
    display: flex;
    justify-content: center;
}
.containerContent{
    color: black;
    text-align: center;
    line-height: 1rem;
}
.containerImage{
    height: 330px;
    width: 330px;
    position: relative;
}
.mainTitle {
    font-family: Inspiration;
    cursor: pointer;
    font-size: 5rem;
}

.formularioCliente{
    padding: 1rem;
    text-align: center;
}
.selectorInput{
    width: 100%;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.selectorInput2{
    width: 20%;
}
.containerInput{
    display: flex;
    align-items: center;
    justify-content: center;
    textarea{
        resize: none;
        line-height: 1rem;
        padding: 0.4rem;
        margin: 0.5rem;
        border: solid 1px black;
    }
}