@import '../../Utilities/ResponsiveUtils/';

.ContainerLayout {
    display: grid;
    gap: 3rem;
    @include MobileExtraSmall {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "topbar topbar"
        "mainarea mainarea";
    }

    @include MobileSmall {
        grid-template-columns: 1fr;

        grid-template-areas:
            "topbar topbar"
            "mainarea mainarea";
    }

    @include Tablet {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "topbar topbar"
            "mainarea mainarea";

    }

    @include Desktop {
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "topbar topbar"
            "mainarea mainarea";

    }

    @include DesktopLarge {
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "topbar topbar"
            "mainarea mainarea";
        width: 70%;
        margin-left: 25%;
        margin-right: 5%;
    }

}

.SideBar {
    position: fixed;
    z-index: 10;
    color: white;


    @include MobileExtraSmall {
        display: none;
        width: 60%;
        bottom: 0;
        top: 0;
    }

    @include MobileSmall {
        display: none;

    }
    @include Tablet {

    }

    @include Desktop {

    }

    @include DesktopLarge {
        display: block !important;
        width: 15%;
        right: 1rem;
        top: 1rem;
        bottom: 1rem;
        left: 1rem;

    }
}

.areaTopbar {
    grid-area: topbar;
    background-color: grey;
    border-radius: 5px;
    position: sticky;
    top: 20px;
    @include Tablet {

    }

    @include Desktop {
        visibility: hidden;
    }

    @include DesktopLarge {
        visibility: hidden;
    }
}

.areaMain {
    grid-area: mainarea;
}